*{
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    color: #1c1c1c;
}

h1{
    font-family: 'Poppins';
    font-weight: 500;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: clamp(4rem, 10vw, 7rem) ;
}

h2{
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: clamp(3rem, 8vw, 5rem);
}

p{
    font-family: 'Open Sans' ;
    font-size: 2.8rem;
    padding: 0 5rem 0 5rem;
}

.container {
    margin: auto;
    text-align: left;
    background-color:white;
    color: rgb(0, 0, 0);
    
}

.parallax{
    background-attachment: fixed;
}

.size{
    Width:100%;
    height: 400px;
    display: flex;
    position: relative; 
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;

}

a{
    color: darkcyan;
}

a:hover{
    background: lightblue;
}


a:active{
    color:darkgoldenrod;
}

.information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding: 0 1rem 2rem 3.5rem;
}


.information a img{
    width: 3rem;
}

.information span{
    margin-right: 15rem;
}


.tower{
    background-image: url(../img/towerEiffel.jpg);
}

.museum{
    background-image: url(../img/museuDeLouvre.jpg);
}

.triumph{
    background-image: url(../img/arcoDoTriunfo.jpg);
}

